//
//  SecretKeysConfiguration.xcconfig
//  simple-energy-ios
//
//  Created by Vipul Negi on 27/06/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

END_POINT = fixui7vxljc7zdcef3lj5dbhoq.appsync-api.us-east-1.amazonaws.com/graphql
IoT_WEB_SOCKET_SERVER = aoi23bp25ybu5-ats.iot.us-east-1.amazonaws.com
